"use strict";
/**
 * This file was auto-generated by Fern from our API Definition.
 */
var __createBinding = (this && this.__createBinding) || (Object.create ? (function(o, m, k, k2) {
    if (k2 === undefined) k2 = k;
    var desc = Object.getOwnPropertyDescriptor(m, k);
    if (!desc || ("get" in desc ? !m.__esModule : desc.writable || desc.configurable)) {
      desc = { enumerable: true, get: function() { return m[k]; } };
    }
    Object.defineProperty(o, k2, desc);
}) : (function(o, m, k, k2) {
    if (k2 === undefined) k2 = k;
    o[k2] = m[k];
}));
var __setModuleDefault = (this && this.__setModuleDefault) || (Object.create ? (function(o, v) {
    Object.defineProperty(o, "default", { enumerable: true, value: v });
}) : function(o, v) {
    o["default"] = v;
});
var __importStar = (this && this.__importStar) || function (mod) {
    if (mod && mod.__esModule) return mod;
    var result = {};
    if (mod != null) for (var k in mod) if (k !== "default" && Object.prototype.hasOwnProperty.call(mod, k)) __createBinding(result, mod, k);
    __setModuleDefault(result, mod);
    return result;
};
var __awaiter = (this && this.__awaiter) || function (thisArg, _arguments, P, generator) {
    function adopt(value) { return value instanceof P ? value : new P(function (resolve) { resolve(value); }); }
    return new (P || (P = Promise))(function (resolve, reject) {
        function fulfilled(value) { try { step(generator.next(value)); } catch (e) { reject(e); } }
        function rejected(value) { try { step(generator["throw"](value)); } catch (e) { reject(e); } }
        function step(result) { result.done ? resolve(result.value) : adopt(result.value).then(fulfilled, rejected); }
        step((generator = generator.apply(thisArg, _arguments || [])).next());
    });
};
var __importDefault = (this && this.__importDefault) || function (mod) {
    return (mod && mod.__esModule) ? mod : { "default": mod };
};
Object.defineProperty(exports, "__esModule", { value: true });
exports.Events = void 0;
const environments = __importStar(require("../../../../environments"));
const core = __importStar(require("../../../../core"));
const Brazebee = __importStar(require("../../.."));
const serializers = __importStar(require("../../../../serialization"));
const url_join_1 = __importDefault(require("url-join"));
const errors = __importStar(require("../../../../errors"));
class Events {
    constructor(_options) {
        this._options = _options;
    }
    /**
     * Track a customer journey event. Events are automatically linked to companies and users,
     * creating them if they don't exist.
     *
     * **Common use cases:**
     * - Track onboarding progress (e.g., "Onboarding Started", "Setup Completed")
     * - Monitor feature adoption (e.g., "Dashboard Viewed", "Report Generated")
     * - Detect expansion signals (e.g., "User Limit Reached", "Plan Upgraded")
     * - Identify churn risks (e.g., "Cancel Viewed", "Cancel Started")
     * @throws {@link Brazebee.BadRequestError}
     * @throws {@link Brazebee.UnauthorizedError}
     * @throws {@link Brazebee.NotFoundError}
     * @throws {@link Brazebee.RateLimitError}
     * @throws {@link Brazebee.InternalServerError}
     *
     * @example
     *     await brazebee.events.track({
     *         company: {
     *             id: "acme_corp",
     *             name: "Acme Corporation",
     *             paymentProvider: "stripe",
     *             paymentProviderId: "cus_abc123"
     *         },
     *         user: {
     *             id: "user_123",
     *             email: "john@acme.com",
     *             firstName: "John",
     *             lastName: "Doe"
     *         },
     *         eventKey: "onboarding_completed",
     *         data: {
     *             "steps_completed": 5,
     *             "time_taken_seconds": 180
     *         },
     *         timestamp: new Date("2024-01-15T10:30:00.000Z")
     *     })
     *
     * @example
     *     await brazebee.events.track({
     *         company: {
     *             id: "acme_corp",
     *             name: "Acme Corporation"
     *         },
     *         user: {
     *             id: "user_123",
     *             email: "john@acme.com",
     *             firstName: "John",
     *             lastName: "Doe"
     *         },
     *         eventKey: "feature_action_completed",
     *         data: {
     *             "feature_name": "export",
     *             "export_format": "csv",
     *             "rows_exported": 1500
     *         }
     *     })
     *
     * @example
     *     await brazebee.events.track({
     *         company: {
     *             id: "acme_corp",
     *             name: "Acme Corporation"
     *         },
     *         eventKey: "plan_upgraded",
     *         data: {
     *             "from_plan": "starter",
     *             "to_plan": "professional",
     *             "mrr": 99
     *         }
     *     })
     */
    track(request, requestOptions) {
        var _a;
        return __awaiter(this, void 0, void 0, function* () {
            const _response = yield core.fetcher({
                url: (0, url_join_1.default)((_a = (yield core.Supplier.get(this._options.environment))) !== null && _a !== void 0 ? _a : environments.BrazebeeEnvironment.Production, "/api/v1/track"),
                method: "POST",
                headers: {
                    "x-api-key": yield core.Supplier.get(this._options.apiKeyAuth),
                    "X-Fern-Language": "JavaScript",
                },
                contentType: "application/json",
                body: yield serializers.TrackEventRequest.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
                timeoutMs: (requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.timeoutInSeconds) != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
                maxRetries: requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.maxRetries,
            });
            if (_response.ok) {
                return yield serializers.TrackEventResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                });
            }
            if (_response.error.reason === "status-code") {
                switch (_response.error.statusCode) {
                    case 400:
                        throw new Brazebee.BadRequestError(yield serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }));
                    case 401:
                        throw new Brazebee.UnauthorizedError(yield serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }));
                    case 404:
                        throw new Brazebee.NotFoundError(yield serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }));
                    case 429:
                        throw new Brazebee.RateLimitError(yield serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }));
                    case 500:
                        throw new Brazebee.InternalServerError(yield serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }));
                    default:
                        throw new errors.BrazebeeError({
                            statusCode: _response.error.statusCode,
                            body: _response.error.body,
                        });
                }
            }
            switch (_response.error.reason) {
                case "non-json":
                    throw new errors.BrazebeeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.rawBody,
                    });
                case "timeout":
                    throw new errors.BrazebeeTimeoutError();
                case "unknown":
                    throw new errors.BrazebeeError({
                        message: _response.error.errorMessage,
                    });
            }
        });
    }
}
exports.Events = Events;
